.navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid rgb(192, 196, 192);
    margin-bottom: 10px;
}
.logo{
    color: rgb(6, 7, 83);
    font-size: 1.5rem;
    font-weight: bold;
}
.CreateTask_Button{
    font-size: 1.05rem;
    padding: 2px;
    outline: none;
    border: 2px solid rgb(9, 11, 128);
    border-radius: 5px;
    background-color: transparent;
    width: 100px;
    cursor: pointer;
}